/* Below here is where i did the design For the  */
.headCont{ 
    width: 80%;
    height: 100%;
    border: 4px solid #455;
    text-align: center;
    margin: auto;
    padding: 10px 0;

}
.lightHolder{ 
    width: 60%;
    height: 100%;
    display: flex;
    padding: 20px 0;
    /* border: 2px solid #33e; */
    margin: auto;
    margin-bottom: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#onImg{ 
    width: 30%;
    height: fit-content;
    /* border: 2px groove #33e; */
    display: block;
}
#offImg{ 
    width: 30%;
    height: fit-content;
    /* border: 2px groove #33e; */
    display: none;
}
.btnHolder{ 
    width: 20%;
    height: fit-content;
    /* border: 2px ridge #8fe; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
}
.btnHolder button{ 
    width: 40%;
    height: fit-content;
    border: 2px ridge #33e;
    border-radius: 20px;
    background: #17f;
    font-size: 0.9rem;
    font-family: serif;
    padding: 5px 2px;
    cursor: pointer;
}